
.contacts-wrapper {
  flex: 1;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background: var(--contacts-page-bg);
  justify-content: flex-start;
  overflow: hidden;
  min-width: 250px;
}
.contacts-header {
  /* border: 1px solid yellow; */
  display: flex;
  gap: 5px;
  padding: 5px 0 5px 0;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--chat-screen-top-bar-text)
}
.back-to-messaging {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  /* border: 1px solid; */
  overflow: hidden;
  padding: 4px 7px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--icons-color)
}
.contacts-search-area {
  /* border: 1px dashed red; */
  display: flex;
  flex-direction: column;

}
.contacts-search-box-area {
  /* border: 1px solid blue; */
  display: flex;
  padding: 4px 4px;
  gap: 4px;
}
.contacts-search-box, .contacts-search-box:focus {
  background: #80808035;
  border-radius: 4px;
  flex: 4;
  padding: 4px 1px 4px 10px;
  font-size: 1.2rem;
  background: var(--chatlist-item-bg);
  color: var(--text-color);
}
.new-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--open-chat-button-bg);
  padding: 2px;
  color: var(--open-chat-button-text);
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
}
.new-chat-button:focus {
  outline: 2px solid var(--open-chat-button-text);
}
.selected-members-area {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.add-5pd {
  padding: 5px;
}

.contacts-list-wrapper {
  /* border: 1px solid green; */
  padding: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* border: 1px dotted red; */
  scrollbar-width: none;
  height: 100%;
  width: 100% ;
  border-radius: 10px;
  overflow: auto;
}


@media screen and (min-resolution: 200dpi) and (max-resolution: 400dpi) {
  .contacts-search-box, .contacts-search-box:focus {
    padding: 10px 4px 10px 14px;
    border-radius: 15px;
  }
  .new-chat-button, .new-chat-button:focus {
    border-radius: 25px;
  }
  }

  @media (min-width: 650px) {
    .contacts-wrapper {
      max-width: 50vw;
    }
  }