
.message-bubble-wrapper {
  display: flex;
  width: 100%;
  /* border: 1px solid green; */
}
.message-bubble {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  /* width: 50%; */
  max-width: 80%;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 4px 3px 13px 3px;
  position: relative;
  /* background: #6a93a0BB; */
  background: var(--message-bubble-bg);
  /* border-radius: 15px 10px 0 10px; handled in js*/
  color: var(--message-bubble-text-color)
}
.sender-name {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--chat-screen-top-bar-text);
  background: var(--settings-menu-frame-bg);
  padding: 1px 0 1px 5px;
  margin-bottom: 3px;
  /* border: 1px solid; */
}
.message {
  /* border: 1px dotted; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 70%; */
  /* border: 1px solid yellow; */
  white-space: pre-line;
  word-break: break-line;
  margin-right: 10px;
  overflow: auto;
  font-weight: 600;
  padding-left: 0.5ch;
}
.message-info {
  display: flex;
  /* flex-direction: column; */
  font-size: 0.8rem;
  position: absolute;
  bottom: -1px;
  right: 7px;
  gap: 3px;
  font-weight: 300;
}
.message-delivery-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 300;
  /* border: 1px solid */
}