

.settings-page-wrapper {
  border: 1px dashed #055;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--settings-page-bg);
  position: relative;
}
.profile-pic-wrapper {
  border: 1px solid;
  position: relative;
  width: 100%;
  /* padding-top: 50%; */
  /* height: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
  background: url('../../assets/background-images/login_bg.webp')  no-repeat left center  ;
  background-size: cover;
  flex-direction: column;
  border-radius: 0 0 25px 25px;
}
.profile-pic-img {
  height: 65%; 

}
.profile-name-text {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, 0);
}
.settings-back-button {
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  /* border: 1px solid; */
  overflow: hidden;
  padding: 4px 7px;
  cursor: pointer;
  border-radius: 50%;
}
.settings-back-button:hover {
  background-color: var(--chatlist-item-bg);
}


@media screen and 
(-webkit-min-device-pixel-ratio:0) 
and (min-resolution:.001dpcm) {
  .profile-pic-wrapper {
    min-height: 85px;
  }
}
 /* @supports not (aspect-ratio: 2/1) {
  .profile-pic-wrapper {
    min-height: 85px;
  }
 } */