

.frame-wrapper {
  position: absolute;
  right: 15px;
  top: 0;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /* width: 60vw; */
  max-width: 300px;
  min-width: 150px;
  background: var(--settings-menu-frame-bg);
  color: var(--text-color);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  overflow: hidden;
}
.close-button-wrapper {
  /* border: 1px dotted; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}
.close-button {
  color: var(--text-color);
  margin-right: 7px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 100%;
}
.menu-items-wrapper {
  /* border: 1px dashed; */
  width: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  padding: 5px;
  /* gap: 2px */
}


@media (pointer: coarse) {
  .close-button-wrapper {
    display: none;
  }
}