

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid; */
}
.discuss-ideas, .open-issue {
  display: inline-flex;
  gap: 5px
}
.link {
  color: var(--chat-screen-top-bar-text)
}