.chat-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  /* border: 1px solid red; */
  height: 100vh;
  background: var(--chatlist-page-bg);
  overflow: hidden;
  min-width: 250px;
}
.sort-list-wrapper {
  display: flex;
  /* border: 1px solid orange; */
  padding: 5px;
  height: 100%;
  overflow: hidden;
}
.options-bar {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  color: var(--chat-screen-top-bar-text)
}
.sort-area {
  border: 1px solid;
  height: 45px;
  display: flex;
  justify-content: space-around;
  flex: 2;
  color: inherit
}
.sort-button {
  border: 1px dotted;
  width: 70px;
  padding-top: 10px;
  color: inherit;
  font-family: Nunito;
  font-weight: 700;
}
.sort-button:hover {
  border-bottom: 3px solid purple
}

.options-area {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


.sort-list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  gap: 1px
}
.new-chat {
  position: absolute;
  z-index: 3;
  right: 2vw;
  bottom: 2vw;
  width: 10%;
  min-width: 50px;
  max-width: 80px;
  aspect-ratio: 1/1;
  /* border: 1px solid; */
  cursor: pointer;
  background: var(--new-chat-plus-button-bg);
  color: var(--new-chat-plus-button-text);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

}

/* .logout-button {
  padding: 5px;
  background: #cc3c3caa;
  border-radius: 15px 0 0 15px
} */

/*options-button*/

.app-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-direction: column;
  /* border: 1px solid; */
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.app-options:hover {
  background: var(--chatlist-item-bg);
}
.options-dot {
  height: 5px;
  aspect-ratio: 1/1;
  background-color: var(--text-color);
  border-radius: 50%;
}


@media (pointer: coarse) and (max-width: 400px) {
 .new-chat {
  position: fixed;
  } 
}

@media (min-width: 650px) {
  .chat-list-wrapper {
    max-width: 50vw
  }
}