

.uemail-wrapper {
  /* background-color: red; */
  /* border: 1px solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
}
/* .uemail-wrapper:hover .uemail-text {
  transform: scale(2);
} */
.uemail-text {
  font-family: Jetbrains Mono;
  font-size: 1rem;
  color: var(--text-color);
}
.options-wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0 10px ;
  gap: 3px;
  transition: transform 0.25s ease-in-out;
}
.options-wrapper:hover  {
  transform: rotate(45deg);
}

/* menu-items */
.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 15px);
  /* width: 100%; */
  background: var(--logout-button-bg);
  padding: 5px 3px;
  border-radius: 7px;
  cursor: pointer;
  color: var(--text-color)
  /* border: 1px solid green; */
}