/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


*{
  padding: 0;
  margin: 0;
  font-family: Sans;
  transition: all 0.1s ease-in-out;
} 

/* html, body { // this is template
  overscroll-behavior-y: contain; 
   ^disable pull-to-reload 
} */

/* body {
  font-family: ;
} */

button, select, input , input:focus , textarea, textarea:focus {
  margin: 0;
  background: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: #1d1a47
}


:root {
  --chatlist-item-bg: #1d1a4745;
  --message-color-cl: #000000bb;
  --message-send-area-bg: #6ba6c999;
  --message-send-area-text: #fff1f1;
  --message-bubble-bg: #1bb68f ;
  /* --chat-area-bg: #441f1f50; */
  --chat-area-bg: var(--chat-area-placeholder-bg);
  --chat-area-placeholder-bg: linear-gradient(65deg,#407080,#143c49,#70804088);
  --chat-screen-wrapper-bg: linear-gradient(90deg, #143c49, #407080);
  --chat-screen-top-bar-text: rgb(175, 209, 236);
  --settings-nickname-text: var(--chat-screen-top-bar-text);
  --settings-page-bg: #AAA;
  --settings-item-bg: #BBBBBB;
  /* --settings-profile-nickname: var(--text-color); */
  /* --profile-cover-bg: #999; */
  --profile-cover-bg: var(--chat-area-placeholder-bg) ;
  --profile-pic-bg-temp: #c5b039;
  /* introduce random colors^ */

  /* convention: --var-name-scheme: THEME-THING-WHATEVER-MORE; */
  /* the mode may be CAPS-ed, i dont want to override CSS conv [your conv sucks. may have to *drop* it ]*/
  --text-color: #050404; /*text in light mode [it-IS-dark]*/

  --settings-menu-frame-bg: #121212BB; /*dt*/

  --logout-button-bg: #910505d3;



}