.chat-screen-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100dvh; */
   /*^doesnt work as expected see App.css/ui-wrapper/height for info */ 
  /* max-height: calc(var(--vh)*100); */
  /* height: 100%; */
  width: 100%;
  /* border: 2px dashed green; */
  flex:1;
  overflow: hidden;

}
.disablePTR {
  overscroll-behavior-y: contain;
}
/* html, body {
  overscroll-behavior-y: contain; 
  ^disable pull-to-reload -this is example
} */


.smooth-scroll  {
  transition: scroll 1s ease-in-out;
}
.chat-screen-top-bar {
  display: flex;
  height: 70px;
  width: 100%;
  border: 1px solid grey;
  justify-content: space-between;
  align-items: center;
}

.chat-name {
  font-weight: 600;
  font-size: 1.1rem;
}
.status {
  font-weight: 300;
  font-size: 0.75rem;
}
/* .options-area {
  {handled in ChatList.css}
} */

.chat-back-button {
  cursor: pointer;
}

.chat-area {
  background: var(--chat-area-bg) ;
  /* border: 1px solid black; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 3px;
  height:100%;
  padding: 15px 4px
}
.message-send-area {
  /* border: px dotted;  */
  min-height: 60px;
  /* height: 45px; */
  background: var(--chat-area-bg);
  display: flex;
  /* justify-content: flex-end; */
  position: relative;
  /* border: 1px solid ; */
}
.message-send-text, .message-send-text:focus {
  position: absolute;  
  z-index: 5;
  box-sizing: border-box;
  /* border: 1px solid ; */
  resize: none;
  max-height: 40vh;
  width: 100%;
  height: 60px;
  margin: 15px 0 15px 5px;
  /* background: #80808060; */
  background: var(--message-send-area-bg);
  padding: 10px 32px 10px 10px;
  border-radius: 10px 0 0 10px;
  font-size: 1.5rem;
  bottom: -15px;
  left: 0;
  transition: width 0.5s ease-in-out;
}
.shrink-mes-box {
  width: calc(100% - 260px)
}
.message-send-button {
  /* border: 1px solid; */
  position: absolute;
  right: 0;
  bottom: 5%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  aspect-ratio: 1/1;
  padding: 0 5px 0 0;
  border-radius: 50%;
  animation: button-slide-out .5s ease-in-out forwards;
  /* background: linear-gradient(45deg,#5f5151, #5c7cac, #fff); */
}
@keyframes button-slide-in {
  0% {transform: translateX(50px);}
  100% {transform: translateX(0);}
}
@keyframes button-slide-out {
  0% {transform: translateX(0);}
  100% {transform: translateX(50px);}
}
@keyframes button-fly-send {
  0% {transform: translateX(0);}
  99% {transform: translateX(80px) translateY(-80px) scale(3)}
  100% {transform: translateX(50px);}
}




/* svg */
.send-button-logo {
  height: 80%;
  fill: #2a1e5c
}
/* .send-button-logo-path {
  stroke: #000
} */

